:root {
    --color1: #e2a100;
    --color2: #ffc82c;
    --color3: #edd9ae;
    --color4: #045e46;
    --color5: #003a22;
    --color6: #1e1e1e;
    --color7: #e3e3e3;
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    z-index: -1;
    background: url("assets/images/woman-shopping.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
    background-position: center;
}

#preloader {
    background: var(--color1);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 102;
    display: grid;
    place-items: center;
}

.loader {
    border-top: .5vw solid var(--color4);
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scrollbar-width: none;
}

.header {
    position: fixed;
    z-index: 100;
    top: -125px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: all .5s ease-in-out;
}

#navbar-btn {
    position: absolute;
    top: 120px;
    left: 40vh;
    border: none;
    border-radius: 0 0 10px 10px;
    width: 50px;
    height: 50px;
    background-color: var(--color1);
    color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: all .2s ease-in-out;
}

#responsive-navbar-btn {
    display: none;
    z-index: 101;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 0 50px black;
    border: none;
    border-radius: 0 0 0 10px;
    width: 50px;
    height: 50px;
    background-color: var(--color1);
    color: var(--color5);
    font-size: 32px;
    transition: all .2s ease-in-out;
}

#navbar-btn:hover, #responsive-navbar-btn:hover {
    background-color: var(--color2);
    cursor: pointer;
}

#navbar-btn i, #responsive-navbar-btn i {
    transition: all .5s ease-in-out;
}

.navbar {
    width: 80%;
    height: 100px;
    background-color: var(--color1);
    box-shadow: black 0 0 50px;
    color: var(--color7);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.navbar nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.navbar nav ul {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 100%;
}

.navbar nav ul li {
    padding: 10px;
    display: inline;
    margin-left: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.navbar nav ul li:hover {
    border-bottom: solid 2px var(--color4);
    cursor: pointer;
    color: var(--color5);
    font-weight: 700;
}

#shopping-cart {
    font-size: 48px;
    color: var(--color5);
    text-align: center;
    margin-right: 40px;   
    padding: 20px; 
    transition: all 0.5s ease-in-out;
}

#shopping-cart:hover {
    cursor: pointer;
    color: var(--color4);
}

.section {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.left-info {
    width: 50%;
    padding: 15px;
    margin: 0;
}

.tagline {
    color: var(--color5);
    font-size: 48px;
}

.tagline span {
    color: var(--color1);
    font-weight: 900;
}

.tagline p {
    color: var(--color6);
    font-size: 24px;
    margin: 10px 0;
}

.left-info a {
    margin: 10px 0 0 0;
    text-decoration: none;
    font-size: 16px;
    height: 50px;
    width: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color5);
    background-color: var(--color3);
    border: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
}

.left-info a:hover {
    background-color: var(--color2);
}

.svgs {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.svg-layer {
    position: relative;
    bottom: -10px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.svgs .content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content h1 {
    margin: 0 0 30px 0;
    color: var(--color6);
    text-align: center;
    font-size: 48px;
}

.content h1 span {
    color: var(--color4);
}

#products-container {
    display: flex;
    flex-direction: column;
}

.slideshow-container {
    position: relative;
    width: 50%;
    height: auto;
}

.slide-image {
    display: none;
}

.slide-image img {
    border-radius: 10px;  
    box-shadow: black 0 0 50px;
}

.slide-image .overlay {
    position: absolute;
    inset: 0 0 6px 0;
    border-radius: 10px;
    background: linear-gradient(25deg, #1e1e1e55, #045e4655);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: var(--color7);
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease-in-out;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translate(0, -50%);
}

.prev:hover, .next:hover {
    background-color: var(--color5);
}

.next {
    border-radius: 3px 0 0 3px;
    right: 0;
}

.dot-container {
    width: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--color5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease-in-out;
}

.active-dot, .dot:hover {
    background-color: var(--color4);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}

.text-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
}

.text-container h4 {
    color: var(--color7);
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
}

.text-container p {
    color: var(--color7);
    font-size: 12px;
    padding: 4px 12px;
    text-align: center;
}

.svg-layer2 {
    z-index: 1;
    position: relative;
    bottom: -325px;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.svgs .content2 {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    margin: 200px 0 0 0;
    z-index: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1 {
    color: var(--color6);
    font-size: 48px;
}

.form hr {
    width: 30%;
    height: 5px;
    background-color: var(--color4);
    outline: none;
    border: none;
}

.form h1 span {
    color: var(--color4);
}

.form input, .form textarea {
    background-color: var(--color3);
    color: var(--color6);
    margin: 20px 0 10px 0;
    padding: 8px 12px;
    font-size: 16px;
    border: solid 2px var(--color4);
    outline: none;
    border-radius: 10px;
    transition: all .2s ease-in;
}

.form input:focus, .form textarea:focus, .form input:hover, .form textarea:hover {
    box-shadow: var(--color4) 0 0 10px;
}

.form input {
    height: 50px;
    width: 80%;
}

.form textarea {
    height: 100px;
    max-height: 100px;
    width: 80%;
    overflow: scroll;
    scrollbar-width: none;
    resize: none;
}

#form-submit {
    width: 30%;
    border: none;
    background-color: var(--color5);
    color: var(--color7);
}

#form-submit:hover {
    cursor: pointer;
    background-color: var(--color4);
}

.form-image {
    max-height: 100%;
    width: 35%;
}

.form-image img {
    width: 100%;
}

#footer {
    height: 85%;
}

.svg-layer3 {
    position: relative;
    bottom: -325px;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.svgs .content3 {
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color5);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: var(--color7);
    padding: 100px 0 30px;
    background: var(--color5);
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col {
    flex-basis: 25%;
    padding: 10px;
}

footer .col:nth-child(2), footer .col:nth-child(3) {
    flex-basis: 15%;
}

footer .logo {
    width: 80px;
    margin-bottom: 30px;
}

footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer .email-id {
    width: fit-content;
    border-bottom: 1px solid var(--color1);
    margin: 20px 0;

}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: var(--color7);
}

footer .social-icons .fa{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: var(--color7);
    background: var(--color5);
    margin-right: 15px;
    cursor: pointer;
}

footer hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid var(--color1);
    margin: 20px auto;
}

.copyright {
    text-align: center;
    font-size: 12px;
}


/* Responsiveness */
@media (max-width: 1000px) {
    .header {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease-in-out;
    }
    
    #navbar-btn {
        display: none;
    }

    #responsive-navbar-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar {
        width: 80%;
        height: 90%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .navbar .logo {
        width: 30%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 20px;
    }
    
    .navbar nav {
        width: 95%;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 16px;
        font-weight: 500;
    }
    
    .navbar nav ul {
        display: block;
        list-style: none;
        text-align: start;
        width: 100%;
    }
    
    .navbar nav ul li {
        font-size: 24px;
        display: block;
        margin-left: 0;
        width: fit-content;
    }
    
    .navbar nav ul li:hover {
        margin-left: 20px;
    }
    
    #shopping-cart {
        position: absolute;
        bottom: 40px;
        font-size: 96px;
        color: var(--color5);
        text-align: center;
        margin: auto;
        padding: 10px; 
        transition: all 0.5s ease-in-out;
    }

    .svg-layer, .svg-layer2, .svg-layer3 {
        display: none;
    }

    .left-info {
        width: 85%;
    }

    .slideshow-container {
        width: 85%;
    }

    .form {
        width: 85%;
        height: auto;
        margin: 0;
    }

    .form hr {
        width: 85%;
    }

    .form-image {
        display: none;
    }

    #footer {
        height: auto;
    }

    footer {
        bottom: unset;
    }

    footer .row {
        width: 75%;
    }

    footer .col {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    
    footer .col:nth-child(2), footer .col:nth-child(3) {
        flex-basis: 100%;
    }
}

@media (max-width: 600px) {
    .dot-container {
        display: none;
    }

    .text-container {
        top: 50%;
    }

    .text-container h4 {
        font-size: 14px;
    }

    .text-container p {
        font-size: 10px;
        padding: 0;
    }
}